<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add Form</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <%- include('../bt-layout') %>
   <%# blogsData %> 
   <section class="content" id="addForm">
      <h1>แก้ไขบทความ (edit)</h1>
      <!-- button back -->
      <a href="/blogs" class="btn btn-outline-warning btn-sm" id="btn-back">ย้อนกลับ</a>
      <hr>

      <!-- form -->
      <h1>รายละเอียดบทความ</h1>
      <form action="/blogs/update" method="POST">
         <div class="form-row w-75">

            <!-- article -->
            <div class="form-group col-md-12">
               <label for="inputArticleName">ชื่อบทความ</label>
               <input type="text" name="article" class="form-control" id="inputArticleName" placeholder="ใส่ชื่อบทความ" value="<%= blogsData.article %> ">
            </div>

            <!-- author -->
            <div class="form-group col-md-10">
               <label for="inputAuthorName">ชื่อผู้แต่ง</label>
               <input type="text" name="author" class="form-control" id="inputAuthorName" placeholder="ชื่อผู้แต่งบทความ" value="<%= blogsData.author %> ">
            </div>

            <!-- category -->
            <div class="form-group col-md-2">
               <label for="inputCategoryName">หมวดหมู่</label>
               <!-- Selelct - Option -->
               <select name="category" class="form-control" id="inputCategoryName">
                  <!-- condition EJS if-elseß -->
                  <% if (blogsData.category === 'นิยาย') { %>
                     <option value="นิยาย" selected>นิยาย</option>
                     <option value="สารคดี">สารคดี</option>
                  <% } else { %>
                     <option value="สารคดี" selected>สารคดี</option>
                     <option value="นิยาย">นิยาย</option>
                  <% } %>
                        
               </select>
            </div>
         </div>

         <!-- sent _id via <input> for findId of blogs in MongoDB to router ('/update/:id') -->
         <input type="hidden" name="id" value="<%= blogsData._id %> ">

         <!-- alert required input field -->
         <% if (locals.errors) { %>
            <!-- alert  -->
            <ul class="alert alert-warning alert-dimissible fade show w-75" role="alert">

               <!-- button close alert -->
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <!-- &times; = 'x' -->
                  <span aria-hidden="true">&times;</span> 
               </button>
               
               <!-- text show error -->
               <% errors.forEach(error => { %>
                  <strong>
                     <li class="mx-3">
                        <%= error.msg %> 
                     </li>
                  </strong>
                  <% }) %>
               </ul>
         <% } %>
         
         <!-- submit and reset -->
         <button type="submit" class="btn btn-primary">อัพเดทบทความ</button>
         <button type="reset" class="btn btn-danger">รีเซ็ตอัพเดท</button>
      </form>

      
   </section>
</body>
</html>