<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blogs</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <!-- import navbar layout -->
   <%- include('../bt-layout') %>

   <section class="content">
      <h1>จัดการบทความ</h1>
      <div class="button-link">
         <a href="blogs/add" class="btn btn-success" id="btn-add">เพิ่มบทความ</a>
      </div>
      <hr>
      <div class="content content-blogs">
         <!-- fetch data (forEach) -->
         <% blogsData.forEach(values => { %>
            <h3>
               <b>ชื่อบทความ : </b>
               <%= values.article %>
            </h3>
            <h5>
               <b>ผู้แต่ง : </b>
               <%= values.author %>
            </h5>
            <p>
               <b>ประเภท : </b>
               <%= values.category %>
            </p>
            <!-- button -->
            <a href="#" class="btn btn-warning btn-sm" id="btn-edit">แก้ไขบทความ</a>
            <a href="/blogs/delete/<%= values._id %>" class="btn btn-danger btn-sm" id="btn-delete">ลบบทความ</a>
            <hr>
         <% }) %>
      </div>
   </section>
</body>
</html>